.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 100vh;
    position: absolute;
    left: 0;
}

.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #ffffff;
}

input {
    border-radius: 22px;
    border: 1px solid #999;
    min-width: 250px;
    margin: 0 20px;
    background: transparent;
    font-size: 18px;
    padding: 10px;
    width: 70%;
    color: #ffffff;
}

button {
    border: 1px solid #999;
    border-radius: 12px;
    margin-right: 12px;
    background: #2D333B;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
}

button:hover {
    cursor: pointer;
    background: #4c5662;
    border: 2px solid #999;
    transition: all 0.1s ease-in;
}

.perfil {
    display: flex;
    margin-top: 40px;
}

.perfil h3 {
    color: #999;
    font: 400 24px Ubuntu, sans-serif;
    font-size: 24px;
    margin: 0;
}

.perfil span {
    display: block;
    color: #999;
    font: 400 18px Ubuntu, sans-serif;
    margin: 5px 0 0 0;
}

.perfil p {
    color: #999;
    font: 400 18px Ubuntu, sans-serif;
    margin: 20px 0 0 0;
}

.pfp {
    width: 120px;
    height: 120px;
    border-radius: 64px;
    border: 2px solid #E5E5E5;
    margin-right: 32px;
}

.repos {
    font: 500 32px Ubuntu, sans-serif;
    color: #ffffff;
    margin: 12px;
    text-align: center;

}