header {
    background-color: #2D333B;
    height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #FFF;
    font: 700 30px Ubuntu, sans-serif;
    font-style: normal;
    line-height: normal;
}